<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inklusif Learning</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg sticky-top">
      <div class="container-fluid">
        <a class="navbar-brand text-light" href="#">
          IncLearn
        </a>
        <div class="d-flex" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active text-light" aria-current="page" href="#/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active text-light" aria-current="page" href="#">Lesson</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active text-light" aria-current="page" href="#">Motivation</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active text-light" aria-current="page" href="#">Game</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <main id="mainContent" class="container-fluid d-flex justify-content-between"></main>
    <footer><p class="text-light d-flex justify-content-center" id="copyright">Copyright &copy; 2022 - Inklusif Learning</p></footer>
  </body>
</html>
