@media only screen and (max-width: 1200px) {
  .content {
    margin: 10px 20px;
  }

  .app-bar {
    padding: 10px 20px;
  }

  .feature-list img {
    width: 100%;
    padding: 30px 50px;
  }

  .my-footer {
    padding: 20px;
  }
}

@media screen and (min-width: 800px) and (max-width: 1000px) {
  .hero_text h1 {
    font-size: 34px;
  }

  .hero_text h3 {
    font-size: 24px;
  }

  .hero_text p {
    width: 100%;
    font-size: 18px;
  }
}

@media only screen and (min-width: 801px) {
    #drawer {
      position: relative;
      transform: translate(0, 0);
    }
    
    #hamburgerButton {
      display: none;
    } 
  }

@media only screen and (max-width: 800px) {
  .nav_brand img{
    width: 70px;
  }
  #drawer {
    width: fit-content;
    position: absolute;
    transform: translate(-200px, 100px);
    transition: transform 0.5s ease-in-out;
    background-color:white;
    border-radius: 0px 10px 10px 10px;
  }
  
  #drawer.open {
    transform: translate(-20px, 100px);
    margin: 0;
    padding: 0;
  }

  #drawer ul {
    display: block;
    list-style-type: none;
    padding: 0 10px;
  }
    
  #drawer li {
    padding: 7px;
    margin: 0px;
  }
    
  #drawer button {
    text-decoration: none;
    font-size: 10px;
    padding: 20px;
    color: rgb(0, 0, 0);
  }

  .hero, .article {
    flex-direction: column;
    align-items: center;
  }
  .hero_image, .article_image {
    justify-content: center;
    max-width: 200px;
  }

  .hero_text h1 {
    font-size: 20px;
  }

  .article_text h2 {
    font-size: 18px;
  }
  .hero_text h3 {
    font-size: 14px;
  }

  .hero_text p, .article_text p {
    width: 100%;
    font-size: 8px;
  }

  .feature-header h2 {
    font-size: 18px;
    margin-top: 50px;
  }

  .feature-body {
    flex-direction: column;
  }

  .feature-list img {
    max-width: 60%;
  }

  .button>span {
    font-size: 14px;
  }

  /* Games */
  #game {
    width: 460px;
    height: 370px;
  }

  .back-face {
    padding: 25px 20px;
  }

  #gameMath {
    width: 600px;
    height: auto;
  }

  #gameMath h2, #cekInputNumber {
    font-size: 17px;
  }

  .symbol {
    width: 20px;
  }

  .firstNumber, .secondNumber {
    width: 50px;
  }

  .firstSection, .secondSection {
    width: 160px;
  }

  #inputNumber {
    font-size: 20px;
  }

  .inputNumberSection {
    height: 300px;
  }

  .jawabSalah {
    margin-top: 10px;
  }
}

@media  screen and (max-width: 600px) {
  .feature-body {
    margin-bottom: 50px;
  }

  .footer_sosmed img {
    max-width: 30px;
  }

  .footer_sosmed p {
    font-size: 10px;
  }

  .footer_brand h1 {
    font-size: 18px;
  }

  .footer_info {
    padding-top: 3px;
  }

  /* Games */
  #gameMath {
    width: 400px;
    height: auto;
  }

  .firstNumber, .secondNumber {
    width: 45px;
  }

  .firstSection, .secondSection {
    width: 140px;
  }

  .symbol {
    margin: 0 10px;
  }

  .inputNumberSection {
    height: 300px;
  }

  .jawabSalah {
    display: block;
    margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  .footer_brand h1 {
    font-size: 14px;
  }
  .footer_info {
    font-size: 10px;
  }

  /* Games */
  #gameMath {
    width: 320px;
    height: auto;
  }

  .inputNumberSection {
    height: 300px;
  }
}

@media only screen and (max-width: 480px) {
  /* Games */
  #game {
    width: 360px;
    height: 270px;
  }

  .back-face {
    padding: 10px;
  }
}